.hor-block h2 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

textarea #comment {
    height: 60px;
}

#commentConfirm {
    height: 40px;
}

#modalOverlay2 .modal {
    max-height: 80vh; /* Встановлення максимальної висоти модального вікна */
    overflow-y: auto; /* Додає вертикальну прокрутку при необхідності */
}

#status-container {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 40px;
    margin: 10px 0;
}

#status-container label {
    margin-top: 0px;
    margin-right: 10%;
}

#ConfirmHeader  h2{
    margin: 0;
}

#OrderId {
    margin-top: 10px;
}

 /* Стилізація кнопки
 .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 45%;
    cursor: pointer;
    color: black;
    width: 17px;
    transition: all 0.5s;
    
    
}

.dropdown-btn:hover{
    width: 18px;
    transition: all 0.5s;
    /* transform: rotate(180deg); 
    
}

.dropdown-btn.active{
    transform: rotate(180deg);
} */

.dropdown input{
    position: relative;
    padding-right: 10% !important;
}


/*Для блоку продукту*/

/* Оформлення контейнера поля та хрестика */
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

/* Стиль поля вводу */
.dropdown-input {
    width: 100%;
    padding-right: 30px; /* Додаємо місце для хрестика */
    padding-left: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: 36px;
    box-sizing: border-box;
}

/* Хрестик очищення */
.clear-btn {
    position: absolute;
    right: 8px; /* Хрестик прилягає до правого краю */
    top: 50%; /* Центрування хрестика */
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--accent-color);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ховер для хрестика */
.clear-btn:hover {
    color: var(--main-hover-color);
    font-weight: bold;
}

/* Список опцій */
.options-list {
    position: absolute;
    top: 100%; /* Відразу під полем */
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    z-index: 10;
}

.options-list div {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.options-list div:hover {
    background-color: var(--background-color);
}

/*Для блоку матеріали*/

.custom-preview table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:   
   #f2f2f2;
  }
  
  th {
    background-color: #4CAF50;
    color: white; }




    /*---2---update---*/

    .custom-preview table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color:   
       #f2f2f2;
      }
      
      th {
        background-color: #4CAF50;
        color: white; }