.hor-block h2 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

textarea #comment {
    height: 60px;
}

#commentConfirm {
    height: 40px;
}

#modalOverlay2 .modal {
    max-height: 80vh; /* Встановлення максимальної висоти модального вікна */
    overflow-y: auto; /* Додає вертикальну прокрутку при необхідності */
}

#status-container {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 40px;
    margin: 10px 0;
}

#status-container label {
    margin-top: 0px;
    margin-right: 10%;
}

#ConfirmHeader  h2{
    margin: 0;
}

#OrderId {
    margin-top: 10px;
}

 /* Стилізація кнопки */
 .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 45%;
    cursor: pointer;
    color: black;
    width: 17px;
}

.dropdown-btn:hover{
    width: 18px;
    transition: all 0.5s;
    transform: rotate(180deg);
    
}

.dropdown-btn.active{
    transform: rotate(180deg);
}

.dropdown input{
    position: relative;
    padding-right: 10% !important;
}
