/* -- */
/* -- */
/* -- */
/* -- */
/* ------------------------------------- GENERAL SETTINGS ------------------------------------- */

/* Визначення кольорової палітри */
:root {
    --background-color: #f0f0f0;
    --main-color: #4caf50;
    --main-hover-color: #327134;
    --opposite-color: #ff8c42;
    --opposite-hover-color: #e05600;
    --accent-color: #FF3C38;
    --shadow-color: rgba(0, 0, 0, 0.75);
  }

* {
    box-sizing: border-box;
}

/* Загальні */

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: left;
}

button {
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-hover-color);
    transition: all 0.5s;
}

textarea{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hor-block {
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    font-size: 14px;
}


.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    height: 100%;
    width: 100%;
}


.open-modal-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


/* -- */
/* -- */
/* -- */
/* -- */
/* ------------------------------------- TABLE SETTINGS ------------------------------------- */

.top-nav{
    display: flex;
    justify-content: space-between;
}


.search-bar {
    display: flex;
    margin-bottom: 10px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 100%;
}

#search-btn {
    padding: 6px 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}

#search-btn img{
    width: 100%;
    height: 100%;
}

#create-btn {
    padding: 10px 30px;
    font-size: 16px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#create-btn:hover {
    background-color: #4cae4c;


}.table-wrapper {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.table {
    display: block;
    width: 100%;
}

.table-header, .table-content-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    align-items: center;
}



.table-header {
    text-align: center;
    font-weight: bold;
    background-color: rgb(193, 193, 193);
}



.table-content-row:hover {
    background-color: #f9f9f9;
}


.table-content-row *:not(:first-child){
    border-left: solid 1px #B6B6B6;
    
}


.table-content-row div {
    overflow: hidden; /* Відсічення тексту, що не вміщується */
    text-overflow: ellipsis; /* Додавання "..." для довгих текстів */
    white-space: nowrap; /* Залишити текст в одному рядку */
}

.table-content-row div:hover {
    white-space: normal; /* Розгорнути текст при наведенні */
    overflow: visible; /* Показати весь текст */
}

.edid-order-btn {
    width: 100%;
    height: 100%;
}


.table-content-row img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.table-header div, .table-content-row div {
    padding: 10px;
}

.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}


/* -- */
/* -- */
/* -- */
/* -- */
/* ------------------------------------- GENERAL MODAL WINDOW SETTINGS ------------------------------------- */

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--shadow-color);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}


.modal {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
    max-height: 80vh; /* Встановлення максимальної висоти модального вікна */
    overflow-y: auto; /* Додає вертикальну прокрутку при необхідності */
}



.modal-nav-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 20px;
}


.cancel-btns{
    background-color: var(--opposite-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.cancel-btns:hover{
    background-color: var(--opposite-hover-color);
    transition: all 0.5s;
}



textarea {
    resize: none;
    height: 60px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hor-block h2 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}






 /* Налаштування полів для відображення данних */

.hor-block input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
}


.hor-block input:disabled{
    background-color: transparent;
}


/*Темніший колір тексту*/

.hor-block input::placeholder{
    color: rgb(30, 30, 30);
}

.hor-block textarea{
    color: rgb(30, 30, 30);
}

.custom-preview input{
    color: rgb(30, 30, 30);
}



/* -- */
/* -- */
/* -- */
/* -- */
/* ------------------------------------- МОДАЛЬНЕ ВІКНО НОМЕР 1 ------------------------------------- */

/* ------------------------------------- DropDown settings ------------------------------------- */


.custom-select {
    position: relative;
}

.options-list {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 120px;
    overflow-y: auto;
    display: block;
    z-index: 10;
}

.options-list div {
    padding: 10px;
    cursor: pointer;
}

.options-list div:hover {
    background-color: #f0f0f0;
    transition: all 0.5;
}


.required {
    color: var(--accent-color);
    font-weight: 400;
    font-size: large;
}


/* ------------------------------------- Коментар ------------------------------------- */
textarea #comment {
    height: 60px;
}


/* -- */
/* -- */
/* -- */
/* -- */
/* ------------------------------------- МОДАЛЬНЕ ВІКНО НОМЕР 2 ------------------------------------- */


/* ------------------------------------- Шапка з номером замовлення ------------------------------------- */

#ConfirmHeader  h2{
    margin: 0;
}

#OrderId {
    margin-top: 10px;
}



/* ------------------------------------- Таблиця матеріалів ------------------------------------- */

.custom-preview-materials {
    display: flex;
    justify-content: center; /* Центрування таблиці */
    align-items: center;
    margin: 20px auto; /* Відступи навколо */
    padding: 0px, 15px, 0px, 15px;
    border-radius: 12px; /* Округлення контейнера */
    background-color: #fff; /* Білий фон контейнера */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Легка тінь */
    max-width: 100%; /* Адаптивність */
}


.materials-table{
    width: 100%;
    padding: 15px 10px;
}

.material-table-header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.material-header-label{
    background-color: #6CC24A;
    opacity: 72%;
    padding: 12px;
    border-radius: 8px;
    text-align: center; /* Текст по центру */
    font-size: 18px; /* Розмір тексту */
    margin: 0;
}


.material-table-content{
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
}



.material-table-content-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    align-items: center; /* Центрує елементи по вертикалі */
}



.material-table-content-row *{
    background-color: #BAC24A;
    opacity: 66%;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal; /* Дозволяє перенос тексту */
    display: flex;
    align-items: center; /* Центрує текст по вертикалі */
    justify-content: center; /* Центрує текст по горизонталі */
    height: 100%; /* Забезпечує, що фон заповнює колонку */
}

.material-needed img{
    display: none;
}


.material-needed.material-lacking img{
    display: block;
    opacity: 100%;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0 3px;
}


/* ------------------------------------- Вікно статусу замовлень ------------------------------------- */

#status-container {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 40px;
    margin: 10px 0;
}


#status-container label {
    margin-top: 0px;
    margin-right: 10%;
}


#status{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
}


.status-todo-select{
    flex-grow: 1;
}

/* ------------------------------------- Коментар ------------------------------------- */
#commentConfirm {
    height: 40px;
}