/* Визначення кольорової палітри */
:root {
    --background-color: #f0f0f0;
    --main-color: #4caf50;
    --main-hover-color: #327134;
    --opposite-color: #ff8c42;
    --opposite-hover-color: #e05600;
    --accent-color: #FF3C38;
    --shadow-color: rgba(0, 0, 0, 0.75);
  }

* {
    box-sizing: border-box;
}

/* Загальні */

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.open-modal-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--shadow-color);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.hor-block {
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    font-size: 14px;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    height: 100%;
    width: 100%;
}

.required {
    color: var(--accent-color);
    font-weight: 400;
    font-size: large;
}

/* Кнопки */

.modal-nav-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 20px;
}

button {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-hover-color);
}

.close-btn, .edit-btn {
    background-color: var(--opposite-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn:hover, .edit-btn:hover {
    background-color: var(--opposite-hover-color);
}

/* Випадаючий список з можливістю редагування*/

.custom-select {
    position: relative;
}

.custom-select input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.options-list {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.options-list div {
    padding: 10px;
    cursor: pointer;
}

.options-list div:hover {
    background-color: #f0f0f0;
}

textarea {
    resize: vertical;
    height: 60px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Перегляд обраних опцій у полі */

.custom-preview input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
