

















/* Кнопки */



.open-modal-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}










/* Випадаючий список з можливістю редагування*/




/* Перегляд обраних опцій у полі */




/*Оновлений інтерфес списку матеріалів*/




.material-needed.material-lacking img{
    display: block;
    opacity: 100%;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0 3px;
}


 